.hero-section {
  height: 100vh;
  padding: 1.5rem;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 4rem;
}

.hero-photo-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-text-container {
  flex: 1;
  text-align: left;
}

.hero-photo {
  width: 350px;
  height: 350px;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 5px solid #8bb7fa;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
}

.bg-circle-1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #215ba8;
  opacity: 0.2;
}

.bg-circle-2 {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #224dce;
  opacity: 0.1;
}
.bg-circle-3{
  position: absolute;
  bottom: 10%;
  right: 80%;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #224dce;
}
.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #b5ddfd;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.typing-text {
  border-right-width: 2px;
  border-color: #8bb7fa;
  padding-right: 0.25rem;
}

.typing-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.hero-description {
  color: #9ca3af;
  font-size: 1.1rem;
  max-width: 80%;
}

@media (max-width: 1024px) {
  .hero-content-wrapper {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .hero-text-container {
    text-align: center;
  }

  .hero-photo {
    width: 250px;
    height: 250px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}