@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility for hiding the scrollbar if needed */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}